button {
  width: 30%;
  padding:0;
  margin:0;
  background:none;
  border:0;
  font-size:0;
  line-height:0;
  overflow:visible;
  cursor:pointer;
}

.food{
  width: 70%;
}

.bottom_space {
  line-height: 15em;
}

  
  .p1{
    text-align:cr;
    bottom: center;
    display: none
  }
  
  div { text-align : center ;
  }
  

